body{
    background: rgb(204, 204, 204);
    align-content: center;
}

.experiments{
    display: flex;
}

.experiments .container{
    height: 66vh;
    width: 24vw;
}

.container{
    background-color: white;
    margin: 0 auto;
    width: fit-content;
    padding: 10px;
    border-radius: 10px;
}

.char{
    font-size: 24px;
    width: 40px;
    height: 40px;
}

#results_container{
    position: fixed;
    min-width: 30vw;
    left: 50%;
    transform: translate(-50%, 0%);
}

.results_hide td{
    background-color: black;
}

#results{
    font-size: 16px;
}